.sea {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100px;
  margin: 0;
  padding: 0;
  z-index: 13;

  /* pointer-events: none; */
}
.sea .save {
  bottom: 0px;
  right: 0px;
  position: absolute;
  font-size: 0.6rem;
  margin-right: 1rem;
}
.fish {
  position: 'absolute';
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  z-index: 8;
  background-color: 'red';
  border-radius: '50%';
}
.peixet {
  object-fit: cover;
  z-index: 99999999;

  position: absolute;
  background-size: contain !important;
  left: 0;
}
