.drawing-canvas {
  position: absolute;

  width: 100vw;
  /* overflow: hidden; */
  /* background: transparent; */
  height: 100vh;
  z-index: 13;
  /* background-color: rgb(240, 240, 240); */
  /*
 pointer-events: none; */
}
