*,
html {
  font-family: 'Lunasima', sans-serif;
  cursor: crosshair;
  overflow-x: hidden;
}
a {
  cursor: pointer !important;
}
.main-component {
  position: absolute;
  display: block;
  width: 100% !important;
  margin-right: 10px !important;
  top: 5%;

  z-index: -3;
}
