@import '../node_modules/mini.css/dist/mini-default.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap');
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(82, 144, 250);
}
