.card {
  left: -10px;
  min-height: 130px;
  border-radius: 2rem !important;
  padding: 2rem;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.22); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */

  -webkit-backdrop-filter: blur(8.1px);
  backdrop-filter: blur(8.1px);

  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: blur(30);
  transform: scale(0.2); /* Make card invisible and scaled down */
  transition: all 400ms;
  opacity: 0 !important; /* Initial opacity is 0 (invisible) */
  width: 300px !important;
}

.visible {
  filter: blur(0);
  left: 0px;
  opacity: 1 !important; /* When card is visible, opacity is 1 (fully visible) */
  transform: scale(1); /* Scale card to original size when visible */
}
.container {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
}
.card-wrapper {
  overflow: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  padding: 2rem 12rem;
  justify-content: center;
  gap: 2rem;
  z-index: 20;
  align-items: center;
}
