.card {
  left: -10px;
  min-height: 130px;
  border-radius: 0.4rem !important;
  /* padding: 2rem; */

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.22); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -webkit-backdrop-filter: blur(18.1px);
  backdrop-filter: blur(18.1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: blur(30);
  transform: scale(0.2); /* Make card invisible and scaled down */
  transition: all 400ms;
  opacity: 0 !important; /* Initial opacity is 0 (invisible) */
}

.visible {
  filter: blur(0);
  left: 0px;
  opacity: 1 !important; /* When card is visible, opacity is 1 (fully visible) */
  transform: scale(1); /* Scale card to original size when visible */
}
.contener {
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  margin-top: 2rem;
}
.contener h1 {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 0.8rem !important;
  color: #191919;
  background-color: rgb(233, 225, 225);
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 3.8rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
}
.card-wrapper {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  padding-bottom: 10rem !important;
  justify-content: center;
  gap: 2rem;
  z-index: 20;
  align-items: center;
}

.base-card {
  display: flex;
  width: 100%;
  min-height: 8rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.6rem;
  padding-top: 1rem !important;
  background-color: rgb(220, 240, 213);
}
.base-card h2 {
  font-size: 1rem;
}
.text-wrapper {
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column;
  padding: 1.6rem;
  height: 9rem !important;
}
.card-wrapper span {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 0.3rem;
  font-size: 0.8rem !important;
}
span p {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
span em {
  margin-right: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
}
